<div class="container">
  <div class="row">
    <div class="col-xs-12">

<div class="page-header">
  <h1>Carriers</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= "Company" %></th>
      <th><%= "Name" %></th>
      <th><%= "Email" %></th>
      <th><%= "Phone" %></th>
    </tr>
  </thead>
  <tbody>
    <% @carrier.each do |carrier| %>
      <tr>
        <td><%= link_to "#{carrier.company}", carrier_path(carrier) %></td>
        <td><%= carrier.name %></td>
        <td><%= carrier.email %></td>
        <td><%= carrier.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div></div></div>