<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @carrier.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://i.imgur.com/stpwIgI.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Company:</td>
                        <td><%= @carrier.company %></td>
                      </tr>
                      <tr>
                        <td>Member Since:</td>
                        <td><%= @carrier.created_at.strftime("%b %d, %Y ") %></td>
                      </tr>
                        <tr>
                        <td>Company Address:</td>
                        <td>Not Provided</td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td> <%= @carrier.email %> </td>
                      </tr>
                        <td>Phone Number:</td>
                        <td><%= @carrier.phone %></td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
 
                </div>
              </div>
            </div>
                 <div class="panel-footer">
<%= link_to 'Send message', new_message_path(to: @carrier.id), class: 'btn btn-primary btn-sm' %>

                    </div>
            
          </div>
        </div>
      </div>
    </div>

    <br><br><br>