<%= form_for(@startadd, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @startadd.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@startadd.errors.count, "error") %> prohibited this startadd from being saved:</h4>

      <ul>
      <% @startadd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :lat, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lng, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :lng, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :job, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
