<div class="page-header">
  <%= link_to new_startadd_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Startadd
  <% end %>
  <h1>Listing startadds</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Address</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Job</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @startadds) do |startadd| %>
            <td><%= startadd.address %></td>
            <td><%= startadd.lat %></td>
            <td><%= startadd.lng %></td>
            <td><%= startadd.job %></td>
            <td><%= link_to 'Show', startadd %></td>
        <td><%= link_to 'Edit', edit_startadd_path(startadd) %></td>
        <td><%= link_to 'Destroy', startadd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
