<div class="page-header">
  <%= link_to startadds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_startadd_path(@startadd), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show startadd</h1>
</div>

<dl class="dl-horizontal">
  <dt>Address:</dt>
  <dd><%= @startadd.address %></dd>

  <dt>Lat:</dt>
  <dd><%= @startadd.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @startadd.lng %></dd>

  <dt>Job:</dt>
  <dd><%= @startadd.job %></dd>

</dl>
