<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :phone, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :company, required: true, autofocus: true %>
    <%= f.input :role, collection: ["carrier", "shipper"], required: true, autofocus: true, as: :radio_buttons, label: "Type of Account" %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<hr />
<%= render "devise/shared/links" %>


</div></div></div>