<div class="page-header">
  <%= link_to new_endadd_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Endadd
  <% end %>
  <h1>Listing endadds</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Address</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Job</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @endadds) do |endadd| %>
            <td><%= endadd.address %></td>
            <td><%= endadd.lat %></td>
            <td><%= endadd.lng %></td>
            <td><%= endadd.job %></td>
            <td><%= link_to 'Show', endadd %></td>
        <td><%= link_to 'Edit', edit_endadd_path(endadd) %></td>
        <td><%= link_to 'Destroy', endadd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
