<div class="page-header">
  <%= link_to endadds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_endadd_path(@endadd), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show endadd</h1>
</div>

<dl class="dl-horizontal">
  <dt>Address:</dt>
  <dd><%= @endadd.address %></dd>

  <dt>Lat:</dt>
  <dd><%= @endadd.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @endadd.lng %></dd>

  <dt>Job:</dt>
  <dd><%= @endadd.job %></dd>

</dl>
