<%= form_for(@bid, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @bid.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h4>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :details, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :details, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bid, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bid, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bidstatus, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :bidstatus, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
