<div class="page-header">
  <%= link_to new_bid_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Bid
  <% end %>
  <h1>Listing bids</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Details</th>
            <th>Bid</th>
            <th>Bidstatus</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bids) do |bid| %>
            <td><%= bid.details %></td>
            <td><%= bid.bid %></td>
            <td><%= bid.bidstatus %></td>
            <td><%= link_to 'Show', bid %></td>
        <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
        <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
