<div class="page-header">
  <%= link_to bids_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_bid_path(@bid), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show bid</h1>
</div>

<dl class="dl-horizontal">
  <dt>Details:</dt>
  <dd><%= @bid.details %></dd>

  <dt>Bid:</dt>
  <dd><%= @bid.bid %></dd>

  <dt>Bidstatus:</dt>
  <dd><%= @bid.bidstatus %></dd>

</dl>
