<%= simple_form_for @job, validate: true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :status %>  
  <%= f.input :title, validate: { presence: true}, required: true %>
  <%= f.input :description, validates: {presence: true} %>
  <%= f.input :price %>
  <%= f.input :trucktype, label: "Type of truck (flatbed, box, refrigerator)", collection: @trucktypes, required: true %>
  <%= f.input :size, label: "Size of Truck Space Avalible", required: true, collection: ["Empty", "Half Full", "Small Space"] %>
  <%= f.input :length, label: "Truck Length" %>
  <%= f.input :weight %>
  <%= f.input :pickuptime, label: "Dropoff Time" %>
  <%= f.input :dropofftime, label: "Dropoff Time" %>
  <%= f.input :startad, label: "Start Address", input_html: { class: "form-control", require: true} %>
  <%= f.input :endad, label: "End Address" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn btn-default' %>
<% end %>


<br><br>

<%= @user.inspect %>