<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= "Starting Address" %></th>
      <th><%= "Pickup Time "%></th>
      <th><%= "End Address" %></th>
      <th><%= "Dropoff Time" %></th>
      <th><%= "Length" %></th>
      <th><%= "Weight" %></th>
      <th><%= "Size" %></th>
      <th><%= "Type" %></th>
      <th><%= "Posted by"%></th>
      <th><%= "Title" %></th>
      <th><%= "Price" %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.startad %></td>
        <td><%= job.pickuptime.strftime("%b %d, %Y - %I:%M %p") %></td>
        <td><%= job.endad %></td>
        <td><%= job.dropofftime.strftime("%b %d, %Y - %I:%M %p") %></td>
        <td><%= job.length %></td>
        <td><%= job.weight %></td>
        <td><%= job.size %></td>
        <td><%= job.trucktype %></td>
        <td><%= job.user.name %></td>
        <td ><%= link_to job.title, job_path(job) %></td>
        <td><%= number_to_currency(job.price, unit: "$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>