<div class="container">
  <div class="row">
    <div class="col-xs-12">

<%= simple_form_for @bid, controller: :job, action: :bid, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.input :bid %>
	<%= f.input :details %>
	<%= f.hidden_field :user_id, :value => @user.id %>
	<%= f.hidden_field :job_id, :value => @job.id %>
	<%= f.submit :button %>
	<%end%> 


</div></div></div>