<div class="container">
  <div class="row">
    <div class="col-xs-12">
<%- model_class = Job -%>
<div class="page-header">
  <h1 class="text-center">Edit Load</h1>
</div>
<%= render :partial => 'form' %>


</div></div></div>