<div class="container">
<script src="//maps.google.com/maps/api/js?AIzaSyDbpa-gDECmCJmcx96EZEYNRtl3pC7O9Pw"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/t‌​runk/richmarker/src/‌​richmarker-compiled.‌​js" %>

<div class="row">
<div class="col-sm-12">
<%- model_class = Job -%>
<div class="page-header">
  <h1 class="text-center">Search Truck Loads</h1>
</div>
<% if current_user.nil? %>
  <div class="col-sm-12">
  <h4 class="text-center">Not Registered? Sign up!</h4>
<div class="text-center">    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
</div>
  </div>
<% end %>
<br>
<hr />
<br><br>


<form class="form-inline">
<%= form_tag jobs_path, :method => :get do %>
  <p>
    <div class="form-group">
    <%= label :search, "Start address" %>
    <%= text_field_tag :search, params[:search] %>
    </div>
      <div class="form-group">
    <%= label :distance, "Radius" %>
    <%= text_field_tag :distance, params[:distance] %>
    </div>
    <br>
    or
    <br>
      <div class="form-group">
    <%= label :search2, "End address" %>
    <%= text_field_tag :search2, params[:search2] %>
    </div>
          <div class="form-group">
    <%= label :distance2, "Radius" %>
    <%= text_field_tag :distance2, params[:distance2] %>
    </div>
    <%= submit_tag "Search Near", :name => nil, :class => "btn btn-primary" %>
<% end %>
</form>

<br>
<% if @hash.present? %>
<br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
  
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
</div></div>
<%end%>
<hr />

<%= render :partial => "jobs" if @jobs.present?%>

<%= render :partial => "starts" if @starts.present? unless @jobs.present? %>



<%=   render :partial => "ends"  if @ends.present? unless @jobs.present? %>

</div>
<br><br><br>