<div class="container">
  <div class="row">
    <div class="col-xs-12">

<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<br>\<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@job.startlat},#{@job.startlng}&markers=#{@job.startlat},#{@job.startlng}&markers=#{@job.endlat},#{@job.endlng}&zoom=12&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@job.title} on the map"%>
<br>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @job.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @job.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @job.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pickuptime) %>:</strong></dt>
  <dd><%= " #{@job.pickuptime} at #{@job.startad.inspect} " %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dropofftime) %>:</strong></dt>
  <dd><%= " #{@job.dropofftime} at #{@job.endad.inspect} "%></dd>
  <dt>Start Address</dt>
  <dd><%= @job.startlng %></dd>
  <dt>End Address</dt>
  <dd><%= @job.startlat %></dd>
</dl>
<%= @job.inspect %>


<%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.hidden_field :user, value: @user.id %>
    <%= f.hidden_field :job, value: @job.id %>
    <%= f.button :submit, class: "btn btn-primary" %>
 <%end%>


</div></div></div>