<div class="container">
<%- model_class = Job -%>
<div class="page-header">
  <h3 class="text-center"><%= @job.title %></h3>
</div>

<div class="row">
<div class="col-sm-4">


<dl class="dl-horizontal">
  <h3 class="text-center">Load Requirments</h3>
  <dt><strong><%= "Truck Type" %></strong></dt>
  <dd><%= @job.trucktype %></dd>
    <dt>Weight</dt>
  <dd><%=@job.weight %> </dd>
    <dt>Size Required</dt>
  <dd><%=@job.size %> </dd>
    <dt>Truck Length</dt>
  <dd><%=@job.length %> </dd>
</dl>
 <hr /> 
<dl class="dl-horizontal">
<h3 class="text-center">Load Details</h3>
  <dt><strong><%= model_class.human_attribute_name(:title) %></strong></dt>
  <dd><%= @job.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %></strong></dt>
  <dd><%= @job.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pickuptime) %></strong></dt>
  <dd><%= " #{@job.pickuptime.strftime("%b %d, %Y - %I:%M %p")} at #{@job.startad.to_s} " %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dropofftime) %></strong></dt>
  <dd><%= " #{@job.dropofftime.strftime("%b %d, %Y - %I:%M %p")} at #{@job.endad.to_s} "%></dd>
  <dt>Posted By</dt>
  <dd><%=@job.user.email%> </dd>
  <dt>Price</dt>
  <dd><%= number_to_currency(@job.price, unit: "$") %> </dd>
</dl>

<div class=" text-center">
<%= link_to t('.back', :default => t("helpers.links.back")),
              jobs_path, :class => 'btn btn-default', 'data-no-turbolink' => true  %>

              <% if current_user == @job.user.id then %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_path(@job), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("Delete")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> 
              <% end %>
<%= link_to 'Send message', new_message_path(to: @job.user.id), class: 'btn btn-default btn-sm' %>

              <br> <hr />
<%= link_to "View Shippers details", shipper_path(@job.user), class: "btn-lg btn-primary" %>
</div>
<br>
</div>
      <div class="col-sm-8">
        <br><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@job.startlat},#{@job.startlng}&markers=#{@job.startlat},#{@job.startlng}&markers=#{@job.endlat},#{@job.endlng}&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
                class: 'img-fluid img-rounded', alt: "#{@job.title} on the map"%>
        <br>
      </div>
</div>

<br>
  <br><br>

</div>
