<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 lead">Profile<hr></div>
          </div>
          <div class="row">
      <div class="col-sm-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="only-bottom-margin"><%= @user.name %></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span class="text-muted">Email:</span> <%= @user.email %><br>
                  <span class="text-muted">Phone Number:</span> <%= @user.phone %><br>
                  <small class="text-muted">Member Since: <%= @user.created_at.strftime("%D") %></small>
                </div>
                <div class="col-sm-6">
                  <div class="activity-mini">
                     Company: <%= @user.company %>
                  </div>
                  <div class="activity-mini">
                    Account: <%= @user.role %>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div></div>
<% if @user.id == current_user.id then %>
<%= link_to "Edit Profile", edit_user_registration_path, :class => "btn btn-default" %>
<% else end %>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 button-wrapper">
        <%= link_to "Post Job", new_job_path, class: "btn btn-lg btn-block btn-default" %>   </div>
    <div class="col-md-4 button-wrapper">
        <%= link_to "Browse Jobs", jobs_path, class: "btn btn-lg btn-block btn-primary" %>
    </div>
    <div class="col-md-4 button-wrapper">
<% if @user.role = "shipper" %>
  <%= link_to "See Carriers", carriers_path, class: "btn btn-lg btn-block btn-success" %>
<%end%>
    </div>
  </div>
</div>

<hr />
<%=  %>
<br> <br>
<%=  %>

<br><br>





<br><br>
<hr />
<h3>Loads Posted by <%=@user.company%></h3>
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= "Status" %></th>
      <th><%= "Listed" %></th>
      <th><%= "Title" %></th>
      <th><%= "Starting Address" %></th>
      <th><%= "Pickup Time "%></th>
      <th><%= "End Address" %></th>
      <th><%= "Dropoff Time" %></th>
      <th><%= "Price" %></th>
      <% if current_user.id == @user.id %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @user.jobs.each do |job| %>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.created_at.strftime("%b %d, %Y - %I:%M %p") %></td>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= number_to_currency(job.price, unit: "$") %></td>
        <td><%= job.startad %></td>
        <td><%= job.pickuptime.strftime("%b %d, %Y - %I:%M %p") %></td>
        <td><%= job.endad %></td>
        <td><%= job.dropofftime.strftime("%b %d, %Y - %I:%M %p") %></td>
        <td><%= number_to_currency(job.price, unit: "$") %></td>
        <% if current_user.id == @user.id then %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      job_path(job),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>