<div class="container">
  <div class="row">
    <div class="col-xs-12">

<div class="page-header">
  <h1>Shippers</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= "Company" %></th>
      <th><%= "Name" %></th>
      <th><%= "Email" %></th>
      <th><%= "Phone" %></th>
    </tr>
  </thead>
  <tbody>
    <% @shipper.each do |shipper| %>
      <tr>
        <td><%= link_to "#{shipper.company}", shipper_path(shipper) %></td>
        <td><%= shipper.name %></td>
        <td><%= shipper.email %></td>
        <td><%= shipper.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div></div></div>