<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CamelsPower Main</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-image:url(&quot;assets/pexels-photo-132907.jpeg&quot;);padding:49px;background-position:center;background-size:auto;">

    <!-- Navigation -->


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
        <div style=" color:#ffffff">
            <h1 class="text-center" >CamelsPower</h1>
            <h3 class="text-center">Free Trucking Service</h3>
            </div>
            <br>
              <div class="row">
                <div class="col-md-6 button-wrapper">
                    <%= link_to "Post Truck Load", new_job_path, class: "btn btn-lg btn-block btn-success" %>   </div>
                <div class="col-md-6 button-wrapper">
                    <%= link_to "Browse Truck Loads", jobs_path, class: "btn btn-lg btn-block btn-primary" %>
                </div>
                </div>
        </div>
    </header>